body {
  background-color: rgb(240, 230, 140);
}

body,
button,
input,
select {
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-size: 30px;
}

a
{
  text-decoration: none;
}

p
{
  line-height: 1.6em;
  margin-bottom: 10px;
  margin-top: 10px;
}

#conteudo {
  background-color: ghostwhite;
  margin: 40px;
}

#cabecalho {
  background-color: cadetblue;
  color: whitesmoke;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 20px;
}

#navbar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-top: 30px;
}

#navbar .lista
{
  padding: 20px;
}

#navbar .lista:hover
{
  background-color: cadetblue;
  border-radius: 10px;
}

#navbar .lista a
{
  color: brown;
  padding: 20px;
}

#navbar .lista a:hover
{
  color: white;
  padding: 20px;
}

#fotosite {
  width: 186px;
  right: 186px;
}

#imagemGeral
{
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  align-items: center;
  padding: 20px;
}

#titulonoticias {
  display: box;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  text-align: center;
}

[id^="noticias"], [class^="autores"]
{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  padding: 20px;
}

#noticias3 {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-content: space-between;
  padding: 20px;
  margin: 0 auto;
  max-width: 924px;
}

[id^="noticias"] h3
{
    font-size: 24px;
}

.relacaoNoticias {
  border: grey 1px solid;
  box-shadow: grey 2px 2px 3px;
  padding: 20px;

  display: grid;
  grid-template-rows: repeat(4, auto);
  align-content: space-between;
}

.relacaoNoticias img {
  width: 100%;
  height: auto;
}

.relacaoNoticias .logotipos
{
  display: block;
  margin: 0 auto;
  width: 140px;
}

.relacaoNoticias h3
{
  text-align: center;
}

.relacaoNoticias p
{
  margin-left: 5px;
  margin-right: 5px;
}

.relacaoNoticias a
{
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.relacaoNoticias a img
{
  height: 24px;
}

#tituloSobre
{
  display: block;
  margin: 0 auto;
  text-align: center;
}

footer 
{
  margin-top: 30px;
  background-color: #f8e8b5;
  color: black;
  text-align: center;
  padding: 20px;
}

.imagemrodape
{
  width: 320px;
  height: 205px;
}

/* Contacto */

form
{
  background-color: #f8e8b5;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  max-width: 520px;
  padding: 20px;
}

form .grupos
{
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 20px;
  margin-bottom: 20px;
}

form .grupos .grupo
{
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 10px;
}

input, select, textarea
{
  border: 1px solid #f8e8b5;
  border-radius: 5px;
  padding: 5px;
}

form button
{
  background-color: cadetblue;
  border: 0px solid transparent;
  border-radius: 5px;
  color: ghostwhite;
  outline: none;
  padding: 10px;
  text-align: center;
}

form button:hover
{
  background-color: brown;
}
